{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
 
            </div>
        </section>
    
<section class="page-section bg-light" id="portfolio">
    <div class="grid-container">
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/gatito-mirando-camara-11164.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/husky-en-la-nieve-11146.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/perro-con-sombrero-de-santa-claus-3927.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/cachorro-en-jardin-6683.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/loro-guacamayo-11143.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/tiburon-en-el-agua-3925.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/peces-debajo-del-agua-en-arte-digital-4563.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/panda-en-la-naturaleza-11158.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/arte-digital-de-caballo-4886.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/martin-pescador-ave-7971.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/buho-mirando-8059.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/gato-con-mariposas-arte-digital-4906.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/tigre-rugiendo-5801.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/halcon-en-paisaje-nevado-7274.jpg"/>
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/gato-astronauta-4878.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/ardilla-en-el-bosque-10720.jpg"  />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/amor-de-cisnes-1130.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/lobo-3012.jpg" />
      <img class="grid-item" src="https://www.xtrafondos.com/wallpapers/ciervo-y-la-luna-8785.jpg" />
    </div>
</section>

{% endblock %}
