{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
 
            </div>
        </section>
    
<section class="page-section bg-light" id="portfolio">
    <div class="grid-container">
      <img class="grid-item" src="https://i.pinimg.com/564x/10/92/42/10924246c86c28dff7c045c08b21b07c.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/e7/a0/81/e7a081cb5dc8257cf5ee8f60f972db03.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/c3/31/dd/c331dd2b306de194e072b9b50dc24b71.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/e9/2f/69/e92f69a4e142065002f257a682400c72.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/8c/da/e9/8cdae9e54ed4b0f9bd90dc6e854c07d4.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/1d/45/46/1d4546becc0970924e57c83d95f802c5.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/6f/93/77/6f937756736e6487eba4681f770a1dcc.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/2e/f5/47/2ef547e49badf44e46fedbd7e7c04812.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a9/b8/a5/a9b8a59fbba388aadf2497bbabb16196.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/4c/85/1e/4c851e7c36eb2fe0d8683e3417ee0dc5.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/f7/d0/bf/f7d0bf8432c93e8bbf3c2f0d6b4a1909.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/c9/fd/dd/c9fddd0d73398a5ca0c6e6c79d365656.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/9f/88/b6/9f88b6a60468922fb5c95219a5858a1d.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/7c/57/ed/7c57ed9654f6679d0263d3f5a3ebce05.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/1e/64/3a/1e643a2609dfcde74fad892546ed969a.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/12/31/08/12310876c6313597318e627c7fb8d177.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/ed/57/0b/ed570bc98049f16d12ed839431aa565c.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/65/ca/cd/65cacd951bec8f1b14ce4582220ae308.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/2b/c3/5a/2bc35a8947824e4ecb6bab2763994a85.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/10/cc/4b/10cc4b8540be4ddc59eb32076f6aa040.jpg" width="250" height="410" />
    </div>
</section>

{% endblock %}
