{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
 
            </div>
        </section>
    
<section class="page-section bg-light" id="portfolio">
    <div class="grid-container">
      <img class="grid-item" src="https://i.pinimg.com/564x/4a/23/78/4a23781964685f73f36b2c096a944e61.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/35/0f/80/350f80db162e77fec23c050a7d4a22ca.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/d3/4e/4a/d34e4a106eaf6d2dfd76ea948dccd5b5.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/f1/9c/6b/f19c6b1094f3789e7f3097313d7473e1.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/b7/48/f2/b748f2a7f8df895f34f7569f3a8e5cc7.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/66/51/93/665193e52666a4757049483ba3dab917.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/5c/90/96/5c909629943e1ac233a3dcf6c6bfaef2.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/04/33/c8/0433c8441b51483d7bd8d27f76b24cb4.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/7a/d1/ba/7ad1ba86f4ed1213cb36287b4b7e17d7.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/37/9b/86/379b86c75a109d45b434b935eb26f445.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/9c/e8/ed/9ce8ed060c5fd4ae833436f3219b7863.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/70/04/44/7004448f333a5ea6532fccd819fe4938.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a5/bf/2f/a5bf2f268bf89389879443e3c7e5d1d2.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a4/47/ed/a447ed9d0b190452853ec5fb4c0d5dfa.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/ab/dc/0c/abdc0c7034c1eee1a436b8b0b662ba33.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/3c/f2/3a/3cf23abba1a7ffcc79763a01e0e78e76.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/90/ca/2f/90ca2ff801505268bdb1d29406405d71.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/06/84/b9/0684b97068cedfe52a710afe4733bf92.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/38/6b/5d/386b5d521811a8126db0afe830337180.jpg" width="230" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/7b/7c/29/7b7c29609fe27dd0d497dac7268cee7e.jpg" width="230" height="410" />
    </div>
</section>

{% endblock %}
