{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
 
            </div>
        </section>
    
<section class="page-section bg-light" id="portfolio">
    <div class="grid-container">
      <img class="grid-item" src="https://i.pinimg.com/564x/de/41/61/de4161e15747c29a73625eb56488aef9.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/e1/51/b8/e151b8b117d9c4077d64825d1c5e29f0.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/5d/2a/12/5d2a123e820c4c03fe6055d30a4a465b.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/07/9a/48/079a4812968548655d202aca0d43cfde.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/37/a7/8e/37a78ef21730bb5ff374943baefc7626.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/37/a7/8e/37a78ef21730bb5ff374943baefc7626.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/28/78/8d/28788db9eadcb7c512bd26b732301ae5.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/70/e2/be/70e2beb397eb0ff0d2e6cef6ece891c8.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a0/91/13/a09113f6900fbe4eac0c376f58cf0488.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/76/82/7c/76827ca5d44fb0eb2a60f7663515f286.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/e9/24/d1/e924d1dafa172d7306cd5377e01f4da1.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/55/62/55/5562554f4aacb5ace7d4c8bfbdf7269f.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/6c/0a/e9/6c0ae95cb721577c09ebb1f57ffdaaba.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/da/b7/9b/dab79bcd6d6ff973936eff61c409e075.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a5/ef/ac/a5efacc4c904c2f47783268c1a5c0861.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/81/24/ef/8124ef1c8c1fd8eeb33dcd2bb1e7779b.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/ce/ae/67/ceae67050b131acc5a33856d2be28751.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/736x/6b/59/29/6b59296d03df9b90acb3a503720ba5b3.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/89/1e/98/891e9846039c4868d7d982fad264deec.jpg" width="250" height="410" />
      <img class="grid-item" src="https://i.pinimg.com/564x/a5/83/94/a5839470e13a97938cc58dcfe8a8d03c.jpg" width="250" height="410" />
      
    </div>
</section>

{% endblock %}
